<footer>
  <div class="footer-container">
    <div class="footer-left">
      <div class="footer-title">Irving Risk</div>
      <div class="footer-social">
        <div>Follow Us</div>
        <a href="#" target="_blank">LinkedIn</a>
        <a href="#" target="_blank">YouTube</a>
        <a href="#" target="_blank">Twitter</a>
      </div>
      <div class="footer-copyright">
        &copy; 2025 Irving Risk. All rights reserved.
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-title">Resources</div>
      <div class="footer-links">
        <a href="{{ "about" | relURL }}">About</a>
        <a href="{{ "what-we-do" | relURL }}">What We Do</a>
        <a href="{{ "work-with-us" | relURL }}">Work With Us</a>
        <a href="{{ "blog" | relURL }}">Blog</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
