<header class="site-header">
  <div class="header-left">
    <div class="site-title">
      <h1>Irving Risk</h1>
    </div>
    <nav class="site-nav">
      <ul>
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        <li><a href="{{ "about" | relURL }}">About</a></li>
        <li><a href="{{ "what-we-do" | relURL }}">What We Do</a></li>
        <li><a href="{{ "blog" | relURL }}">Blog</a></li>
      </ul>
    </nav>
  </div>
  <div class="work-with-us-button">
    <a href="{{ "work-with-us" | relURL }}">Work With Us</a>
  </div>
</header>
